In [1]:
import pandas as pd

In [10]:
rosnace = pd.DataFrame({
    'U (kV)': [
        3.51, 3.90,  4.30,  4.71,  5.09,
        5.50, 5.94,  6.30,  6.70,  7.11,
        7.50, 7.92,  8.29,  8.69,  9.10,
        9.50, 9.90, 10.30, 10.69, 11.10,
    ],
    'Rw (mm)': [
        22, 20, 17, 19, 17, 17, 16, 16, 14, 13,
        14, 13, 14, 13, 14, 13, 13, 12, 12, 12,
    ],
    'Rz (mm)': [
        28, 28, 27, 25, 20, 23, 22, 21, 20, 19,
        18, 18, 18, 18, 18, 18, 17, 17, 17, 17,
    ]
})

In [11]:
malejace = pd.DataFrame({
    'U (kV)': [
        11.10, 10.69, 10.30, 9.89, 9.50,
         9.10,  8.70,  8.30, 7.89, 7.50,
         7.10,  6.71,  6.33, 5.90, 5.50,
         5.12,  4.71,  4.31, 3.89, 3.49,
    ],
    'Rw (mm)': [
        14, 14, 14, 14, 14, 15, 14, 15, 15, 15,
        16, 16, 17, 18, 20, 19, 19, 21, 20, 22,
    ],
    'Rz (mm)': [
        16, 17, 16, 18, 18, 18, 18, 18, 19, 19,
        19, 19, 20, 23, 24, 25, 25, 27, 27, 29,
    ]
})

In [13]:
rosnace

    Rw (mm)  Rz (mm)  U (kV)
0        22       28    3.51
1        20       28    3.90
2        17       27    4.30
3        19       25    4.71
4        17       20    5.09
5        17       23    5.50
6        16       22    5.94
7        16       21    6.30
8        14       20    6.70
9        13       19    7.11
10       14       18    7.50
11       13       18    7.92
12       14       18    8.29
13       13       18    8.69
14       14       18    9.10
15       13       18    9.50
16       13       17    9.90
17       12       17   10.30
18       12       17   10.69
19       12       17   11.10

In [14]:
malejace

    Rw (mm)  Rz (mm)  U (kV)
0        14       16   11.10
1        14       17   10.69
2        14       16   10.30
3        14       18    9.89
4        14       18    9.50
5        15       18    9.10
6        14       18    8.70
7        15       18    8.30
8        15       19    7.89
9        15       19    7.50
10       16       19    7.10
11       16       19    6.71
12       17       20    6.33
13       18       23    5.90
14       20       24    5.50
15       19       25    5.12
16       19       25    4.71
17       21       27    4.31
18       20       27    3.89
19       22       29    3.49